<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>Edit user</h1>
<form th:method="PATCH" th:action="@{/admin/user/edit(id=${user.id})}" th:object="${user}">
    <label for="name">Enter name: </label>
    <input type="text" th:field="*{name}" id="name"/>
    <br/>
    <label for="surname">Enter surname:</label>
    <input type="text" th:field="*{surname}" id="surname"/>

    <br/>
    <br/>
    <h4>Enter sex:</h4>
    <div class="form-group">
        <input type="radio" th:field="*{sex}" id="male" name="gender" value="male" required>
        <label for="male">Male</label>
        <br/>
        <input type="radio" th:field="*{sex}" id="female" name="gender" value="female" required>
        <label for="female">Female</label>
    </div>

    <br/>
    <br/>
    <label for="city">Enter city:</label>
    <select th:field="*{city}" id="city">
        <option value="Moscow">Moscow</option>
        <option value="Saint Petersburg">Saint Petersburg</option>
    </select>

    <br/>
    <br/>
    <input type="submit" value="Update!"/>
</form>

<br/>
<br/>

<form th:action="@{/logout}" method="post">
    <button type="submit">Logout</button>
</form>

</body>
</html>