<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>

<br/>
<br/>

<div>
    <a th:href="@{/admin/new}">
        <button type="button">Add new user</button>
    </a>
</div>

<br/>

<h3>List of users:</h3>

<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Имя Фамилия</th>
    </tr>
    </thead>
    <tbody>

    <tr th:each="user : ${users}">
        <td th:text="${user.id}">!</td>
        <td>
            <a th:href="@{/admin/user/{id}(id=${user.id})}">
                <span th:text="${user.name} + ' ' + ${user.surname}"></span>
            </a>
        </td>
    </tr>
    </tbody>
</table>

<br/>
<br/>

<form th:action="@{/logout}" method="post">
    <button type="submit">Logout</button>
</form>

</body>
</html>
